html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  overflow: visible;
}

#net-input-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#net-input {
    padding: 10px 10px;
    width: 400px;
    height: 300px;
    font-size: 10px;
    margin-left: 10px;
}

.fn-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.fn-buttons button {
    margin: 0 5px 100px;
}

#invalid-json-notification {
    color: red;
    margin-bottom: 3px;
    text-align: center;
    visibility: hidden;
}

.red-focus:focus {
    outline: none !important;
    border-color: red;
}

.input-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-holder select {
    height: 25px;
    margin-right: 10px;
}

.input-holder .conditional-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.input-holder .conditional-checkbox p {
    margin-right: 5px;
}

.lengend {
    margin-left: 25px;
}

#color-codes {
    margin-left: 25px;
}

.color-codes-wrapper {
    display: flex;
    align-items: center;
}

.color-codes-wrapper p {
    margin: 0;
}

.square {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.legend-header {
    font-size: 18px;
}

.label {
    margin-bottom: 2px;
}

.full {
    background-color: black;
}

.border {
    border: 3px solid black;
    width: 9px;
    height: 9px;
}

.low {
    background-color: #FF4D4D;
}

.lowStart {
    background-color: #FFC04D;
}

.lowEnd {
    background-color: #FF4DFF;
}

.maxDuration {
    background-color: #008000;
}

.parallel {
    background-color: #800080;
}

#doc {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

#doc span {
    text-decoration: underline;
    width: fit-content;
    margin: 0 auto;
}

#doc span:hover {
    color: blue;
    cursor: pointer;
}

#doc img {
    margin-top: 40px;
    visibility: hidden;
}